### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#purchase_data_df.loc[0]
#total number of players
player_id = purchase_data_df.loc[:, ["Gender","SN","Age"]]
player_id = player_id.drop_duplicates()
type(player_id)
player_id.count()[0]

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
#unique items
item_id = purchase_data_df.loc[:, ["Item ID"]]
item_id = item_id.drop_duplicates()
unique_items = item_id.count()[0]
#average price
average_price = purchase_data_df["Price"].mean()
'{0:.2f}'.format(average_price)
#number of purchases
purchase_total = purchase_data_df.loc[:,["Purchase ID"]]
purchase_total = purchase_total.count()[0]
#total revenue
total_revenue = purchase_data_df.loc[:,["Price"]]
total_revenue = total_revenue.sum()[0]
#summary dataframe
summary_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [average_price],
    "Number of Purchases": [purchase_total],
    "Total Revenue": [total_revenue]
})
summary_df.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [19]:
#gender totals
gender_total = player_id["Gender"].value_counts()
gender_total
#percents
gender_percent = (gender_total/579)*100
gender_percent
#dataframe
gender_df = pd.DataFrame({
   "Total Count": gender_total,
   "Percentage of Players": gender_percent
})
gender_df

                       Total Count  Percentage of Players
Male                           484              83.592401
Female                          81              13.989637
Other / Non-Disclosed           11               1.899827


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame