### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#purchase_data_df.loc[0]
#total number of players
player_id = purchase_data_df.loc[:, ["Gender","SN","Age"]]
player_id = player_id.drop_duplicates()
type(player_id)
total_players = player_id.count()[0]
total_player_df = pd.DataFrame({
    "Total PLayers": [total_players]
})
total_player_df

   Total PLayers
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#unique items
item_id = purchase_data_df.loc[:, ["Item ID"]]
item_id = item_id.drop_duplicates()
unique_items = item_id.count()[0]
#average price
average_price = purchase_data_df["Price"].mean()
'{0:.2f}'.format(average_price)
#number of purchases
purchase_total = purchase_data_df.loc[:,["Purchase ID"]]
purchase_total = purchase_total.count()[0]
#total revenue
total_revenue = purchase_data_df.loc[:,["Price"]]
total_revenue = total_revenue.sum()[0]
#summary dataframe
summary_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [average_price],
    "Number of Purchases": [purchase_total],
    "Total Revenue": [total_revenue]
})
summary_df['Average Price'] = summary_df['Average Price'].map("${:,.2f}".format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${:,.2f}".format)
summary_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#gender totals
gender_total = player_id["Gender"].value_counts()
gender_total
#percents
gender_percent = (gender_total/total_players)*100
gender_percent
#dataframe
gender_df = pd.DataFrame({
   "Total Count": gender_total,
   "Percentage of Players": gender_percent
})
gender_df['Percentage of Players'] = gender_df['Percentage of Players'].map("{:,.2f}%".format)
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#purchase count by gender
gender_purchase_count = purchase_data_df.groupby(["Gender"])["Price"].count().rename("Purchase Count")
#average price by gender
gender_average_price = purchase_data_df.groupby(["Gender"])["Price"].mean().rename("Average Purchase Price")
#total revenue by gender
gender_total_price = purchase_data_df.groupby(["Gender"])["Price"].sum().rename("Total Purchase Value")
#total average
gender_average_total = gender_total_price/gender_df['Total Count']
#dataframe
gender_analysis_df = pd.DataFrame({
    "Purchase Count": gender_purchase_count,
    "Average Purchase Price": gender_average_price,
    "Total Purchase Value": gender_total_price,
    "Avg Total Purchase Per Person": gender_average_total
})
gender_analysis_df['Average Purchase Price'] = gender_analysis_df['Average Purchase Price'].map("${:,.2f}".format)
gender_analysis_df['Total Purchase Value'] = gender_analysis_df['Total Purchase Value'].map("${:,.2f}".format)
gender_analysis_df['Avg Total Purchase Per Person'] = gender_analysis_df['Avg Total Purchase Per Person'].map("${:,.2f}".format)
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
#create bins
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 9999]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
player_id["Age Range"] =pd.cut(player_id["Age"], age_bins, labels=age_labels)
#total count
age_total = player_id["Age Range"].value_counts()
age_total
#percent
age_percent = (age_total/total_players)*100
#dataframe
age_demographics_df = pd.DataFrame({
    "Total Count": age_total,
    "Percentage of Players": age_percent
})
age_demographics_df['Percentage of Players'] = age_demographics_df['Percentage of Players'].map("{:,.2f}%".format)
age_demographics_df.sort_index()

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
#bins
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 9999]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data_df["Age Range"] =pd.cut(purchase_data_df["Age"], age_bins, labels=age_labels)
#purchase count by age
age_purchase_count = purchase_data_df.groupby(["Age Range"])["Price"].count().rename("Purchase Count")
#average price by age
age_average_price = purchase_data_df.groupby(["Age Range"])["Price"].mean().rename("Average Purchase Price")
#total revenue by age
age_total_price = purchase_data_df.groupby(["Age Range"])["Price"].sum().rename("Total Purchase Value")
#total average
age_average_total = age_total_price/age_demographics_df['Total Count']
#dataframe
age_analysis_df = pd.DataFrame({
    "Purchase Count": age_purchase_count,
    "Average Purchase Price": age_average_price,
    "Total Purchase Value": age_total_price,
    "Avg Total Purchase Per Person": age_average_total
})
age_analysis_df['Average Purchase Price'] = age_analysis_df['Average Purchase Price'].map("${:,.2f}".format)
age_analysis_df['Total Purchase Value'] = age_analysis_df['Total Purchase Value'].map("${:,.2f}".format)
age_analysis_df['Avg Total Purchase Per Person'] = age_analysis_df['Avg Total Purchase Per Person'].map("${:,.2f}".format)
age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [34]:
#organize by player
top_spenders = purchase_data_df.groupby("SN")
#purchase count
top_count = top_spenders["Purchase ID"].count()
#average purchase price
top_average = top_spenders["Price"].mean()
#total value
top_purchase_value = top_spenders["Price"].sum()
#dataframe
top_spenders_df = pd.DataFrame({
    "Purchase Count": top_count,
    "Average Purchase Price": top_average,
    "Total Purchase Value": top_purchase_value
})
top_spenders_df['Average Purchase Price'] = top_spenders_df['Average Purchase Price'].map("${:,.2f}".format)
top_spenders_df['Total Purchase Value'] = top_spenders_df['Total Purchase Value'].map("${:,.2f}".format)
top_spenders_df.sort_values(by='Purchase Count', ascending=False).head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame